nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a{
    text-decoration: none;
    font-size: 24px;
    background: blue;
    color: white;
    padding: 15px 30px;
    transition: all linear 0.3s;
}

nav ul li a.active,
nav ul li a:hover{
    background: red;
}